# GLOBAL CONFIGURATION
VITE_APP_NAME="Hangout - Smart Travel System"
VITE_TIMEOUT=10000

# API ENDPOINTS
VITE_API_BASE_URL=https://localhost:7139/api

# THIRD-PARTY SERVICES 
VITE_GOOGLE_MAPS_KEY=
VITE_GOOGLE_OAUTH_CLIENT_ID=
VITE_CLOUDINARY_CLOUD_NAME=
